.btn {
  margin: 2rem 0 4rem 0;
  width: 10rem;
  height: 4.4rem;
  display: flex;
  gap: 5px;
  text-decoration: none;
  background-color: transparent;
  color: inherit !important;
  font-size: 1.8rem;
  font-weight: 600;
  border: none;
  border-radius: 5px;
  text-transform: capitalize;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  &:hover {
    transform: translateY(-5px);
  }
}
